
* text eol=lf

*.html text
*.js text
*.xml text
*.css text
*.md text
LICENSE text
NOTICE text
CNAME text

*.jar binary
*.gif binary
*.jpg binary
*.ico binary
*.png binary
*.ttf binary
*.woff binary
*.otf binary
